.navbar-custom {
  height: 6rem;
  align-items: flex-end;

  padding-inline: 2rem;
  padding-bottom: 1rem;

  background-color: #ffffff;
  border-bottom: 1px solid #e2e3e6;
}

.navbar-nav{
  margin-left: auto;
  gap: 1rem;
}