.navbar-custom {
  height: 6rem;
  align-items: flex-end;

  padding-inline: 2rem;
  padding-bottom: 1rem;

  background-color: #ffffff;
  border-bottom: 1px solid #e2e3e6;
}

.navbar-nav{
  margin-left: auto;
  gap: 1rem;
}

.nav-link {
  color: #132239;
}

.nav-link:hover {
  background-color: #097799;
}

.nav-link.active {
  color: #ffd4bc;
  background-color: #0B70AE;
}

.nav-links-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}